/*
Theme Name: Mairon
Version: 1.0
Author: Mairon Studio
Author URL: http://mairon-studio.ru
*/

@font-face {
    font-family: 'Cucho';
    src: url('fonts/Cucho.eot?#iefix') format('embedded-opentype'), url('fonts/Cucho.otf') format('opentype'), url('fonts/Cucho.woff') format('woff'), url('fonts/Cucho.ttf') format('truetype'), url('fonts/Cucho.svg#Cucho') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* font-family: "HeliosRegular"; */

@font-face {
    font-family: "Helios";
    src: url("fonts/HeliosRegular/HeliosRegular.eot");
    src: url("fonts/HeliosRegular/HeliosRegular.eot?#iefix")format("embedded-opentype"), url("fonts/HeliosRegular/HeliosRegular.woff") format("woff"), url("fonts/HeliosRegular/HeliosRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}


/* font-family: "HeliosBlack"; */

@font-face {
    font-family: "Helios";
    src: url("fonts/HeliosBlack/HeliosBlack.eot");
    src: url("fonts/HeliosBlack/HeliosBlack.eot?#iefix")format("embedded-opentype"), url("fonts/HeliosBlack/HeliosBlack.woff") format("woff"), url("fonts/HeliosBlack/HeliosBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}


/* basics */

html {
    height: 100%;
    width: 100%;
}

body {
    font-family:  sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: url(images/background_top.png) no-repeat;
    background-size: 100%;
    background-color: #f4f4f4;
    border-top: 3px solid #00422a;
    padding-top: 5px;
}

body.home {
    background: url(images/background_top_small.png) no-repeat;
    background-color: #f4f4f4;
}

a {
    color: #015b3a;
}

h1 {
    font-size: 24px;
    color: #ffce00;
    text-align: center;
}

#content_part {
    margin-top: 20px;
}

.page-content-container {
    padding: 0;
}

.woocommerce .product,
.home .product {
    padding-left: 5px;
    padding-right: 5px;
}

.woocommerce .product > a,
.woocommerce .product .woocommerce-main-image,
.woocommerce .product .thumbnails a,
.home .product a {
    display: block;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #b7b7b7;
    color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    text-align: center;
}

.woocommerce .product a h3 {
    min-height: 50px;
}

.woocommerce .product a h3,
.home .product a h3 {
    font-size: 14px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
    text-align: left;
}

.woocommerce .product a img,
.home .product a img {
    max-width: 100%;
    height: auto;
}

.woocommerce .product a .product_excerpt {
    min-height: 50px;
}

.woocommerce .product a .product_excerpt,
.home .product a .product_excerpt {
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #b7b7b7;
    margin-bottom: 10px;
    text-align: left;
}

.woocommerce .product a .product-img-wrapper,
.home .product a .product-img-wrapper {
    min-height: 165px;
}

.woocommerce div.product {
    margin-bottom: 20px;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price,
.home .product a .price {
    display: block;
    font-size: 24px;
    color: #b82508;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

.home .main-item-boxes {
    padding-left: 5px;
    padding-right: 5px;
}

.home .main-item-boxes > .wpb_wrapper {
    background: #fff;
    border-radius: 10px;
    padding: 10px 0px;
}

.home .main-item-boxes > .wpb_wrapper > .wpb_single_image.vc_align_center {
    margin-bottom: 10px;
}

.home .main-item-boxes p {
    margin-bottom: 0;
    font-weight: 600;
}

.header_phone {
    color: #ffce00;
    font-size: 34px;
    text-align: center;
}

.owl-theme .owl-controls .owl-page span {
    border: 2px solid #d4d4d4;
    background: transparent;
}

.owl-theme .owl-controls .owl-page.active span {
    background: #d4d4d4;
    opacity: 1;
}


/*Header*/

.button-call-back {
    background: url(images/order_phone.png) no-repeat;
    background-size: 100%;
    width: 200px;
    height: 40px;
    display: inline-block;
    border: none;
    outline: none;
    margin-top: 10px;
}

.headercontainer .phone {
    margin-top: 23px;
}

.headercontainer .cart-contents {
    text-align: center;
    margin-top: 23px;
    display: inline-block;
    border: 1px dashed #fff;
    border-radius: 50%;
    padding-top: 25px;
    min-height: 135px;
    min-width: 135px;
    position: relative;
    z-index: 10;
}

.headercontainer .cart-contents:before {
    position: absolute;
    background: #014f32;
    content: '';
    width: 120px;
    height: 120px;
    top: 7px;
    left: 7px;
    border-radius: 50%;
    z-index: -1;
}

.headercontainer .cart-contents > .count {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
}

.headercontainer .cart-contents > .cost {
    color: #ffce00;
    text-decoration: none;
    font-size: 15px;
}

.flex-control-paging li a.flex-active {
    background: #649b86!important;
}

.flex-control-paging li a {
    background: transparent!important;
    border: 2px solid #649b86;
    box-shadow: none!important;
}


/*End Header*/


/*Menu*/

.headercontainer .navbar-default {
    background: none;
    border: none;
    border-radius: 0
}

.headercontainer .navbar-default > .container-fluid,
.headercontainer .navbar-default .navbar-collapse {
    padding: 0;
}

.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    border: 2px solid transparent;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background: none;
    color: #ffce00;
    border: 2px solid #ffce00;
    border-radius: 30px;
}


/*End menu*/


/*Posts slider*/

.posts-slider-container > .vc_column_container > .wpb_wrapper {
    background: #fff;
    padding: 25px;
}

.posts-slider .post-slider-item {
    margin-bottom: 20px;
    color: #585858;
}

.posts-slider .post-slider-item .post-slider-img {
    padding-right: 0;
}

.posts-slider .post-slider-item .post-slider-img > img {
    width: 100%;
    height: auto;
}

.posts-slider .post-slider-item .post-slider-date {
    font-size: 16px;
    font-weight: 600;
}

.posts-slider .post-slider-item .post-slider-date .post-slider-date-celendar {
    margin-right: 20px;
}

.posts-slider .post-slider-item .post-slider-title {
    margin-top: 10px;
}

.posts-slider .post-slider-item .post-slider-title a {
    font-size: 15px;
    text-decoration: underline;
    color: #585858;
    font-weight: 600;
}


/*End posts slider*/


/*Sidebar*/

#sidebar .menu-container {
    text-align: center;
}

.catalog-sidebar-title {
    font-size: 24px;
    border-bottom: 1px dashed #fff;
    opacity: 0.85;
    color: #fff;
    display: inline-block;
    padding-bottom: 5px;
}

.sidebar-menu {
    background: #a5ce00;
    border-radius: 10px;
    padding: 10px 0 10px 0;
    list-style: none;
    text-align: left;
}

.sidebar-menu li {
    font-size: 18px;
    margin-bottom: 5px;
}

.sidebar-menu li a {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 2px 0;
}

.sidebar-menu li > ul > li:hover {
    background: #c4df59;
}

.sidebar-menu > li.parent-menu-item > a {
    font-weight: 600;
    padding-left: 40px;
}

.sidebar-menu > li.parent-menu-item > a:before {
    content: '▼';
    padding-right: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #e0eea6;
    transition: color .5s ease-out;
    -moz-transition: color .5s ease-out;
    -webkit-transition: color .5s ease-out;
    -o-transition: color .5s ease-out;
}

.sidebar-menu > li.parent-menu-item.active > a:before {
    content: '▲';
    color: #fff;
}

.sidebar-menu > li.parent-menu-item > ul {
    padding-left: 0;
    display: none;
    list-style: none;
}

.sidebar-menu > li.parent-menu-item > ul > li >a {
    padding-left: 60px;
}

.sidebar-menu > li.parent-menu-item > ul > li >a:before {
    content: '■';
    padding-right: 10px;
    color: #858e62;
}

#sidebar .partners-container .partners-title {
    font-size: 24px;
    color: #585858;
    opacity: .85;
    border-bottom: 1px dashed #585858;
    padding-bottom: 5px;
    display: inline-block;
    margin-bottom: 10px;
}

.partners-container {
    background: #dddddd;
    float: left;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 10px;
}

.partners-container .partners-item {
    margin-bottom: 10px;
}

.actions-container .actions-item {
    margin-top: 15px;
}

.actions-container .actions-item img {
    width: 100%;
    height: auto;
}


/*End Sidebar*/


/*Footer*/

.footerblock {
    background: url(images/background_footer.png) no-repeat;
    background-size: 100% 100%;
    min-height: 180px;
    color: #fff;
    padding-bottom: 30px;
}

.footernavigation {
    padding-top: 30px;
}

.footernavigation .nav-pills > li > a {
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    border: 2px solid transparent;
    padding: 10px 8px;
}

.footernavigation .nav-pills > li > a:hover,
.footernavigation .nav-pills > li.active > a,
.footernavigation .nav-pills > li.active > a:hover,
.footernavigation .nav-pills > li.active > a:focus {
    background: none;
    color: #ffce00;
    border: 2px solid #ffce00;
    border-radius: 30px;
}

.right-footer {
    padding-top: 30px;
    font-size: 10px;
}

.right-footer .footer-search {
    text-align: right;
    margin-top: 50px;
}

.right-footer .footer_copyright {
    margin-top: 10px;
    text-align: right;
    opacity: .65;
}

.right-footer img {
    margin-top: 10px;
}

.opacity-65 {
    opacity: .65;
}

.footer-contacts {
    margin-top: 50px;
    font-size: 16px;
}

.footer-contacts img {
    max-width: none;
}

.map-container {
    position: relative;
}

.contacts-on-map {
    position: absolute;
    bottom: 0;
    background: #ffffff;
    border: 3px solid #ffce00;
    padding: 0;
    border-radius: 60px;
}

.contacts-on-map > .row > div {
    padding-top: 20px;
    padding-bottom: 10px;
}

.contacts-on-map .button-call-back {
    background: url(images/call_button_futter.png)no-repeat;
}

.contacts-on-map .contacts-on-map-adress-title {
    font-size: 20px;
    color: #015b3a;
    text-align: center;
    font-weight: 600;
}

.contacts-on-map .contacts-on-map-adress {
    text-align: center;
}

.contacts-on-map .contacts-on-map-phone {
    font-size: 26px;
    color: #fe0000;
    padding-top: 10px;
}

.contacts-on-map .contacts-on-map-center {
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
}

.contacts-on-map .social-item {
    display: inline-block;
}


/*End Footer*/


/*Single product*/

.single-product.woocommerce div.product .product_title {
    color: #ffce00;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
}

.single-product.woocommerce #content div.product div.summary .single-product-desc,
.single-product.woocommerce div.product div.summary .single-product-desc,
.single-product.woocommerce-page #content div.product div.summary .single-product-desc,
.single-product.woocommerce-page div.product div.summary .single-product-desc {
    background: #fff;
    border-radius: 10px;
    padding: 10px;
}

.single-product.woocommerce div.product .summary p.price .amount,
.single-product.woocommerce div.product .summary span.price .amount {
    color: #015b3a;
    font-size: 39px;
    font-weight: 600;
}

.single-product.woocommerce div.product p.price,
.single-product.woocommerce div.product span.price {
    font-size: 14px;
    color: #000;
    font-weight: 600;
}

.single-product.woocommerce div.product div.images img {
    border-radius: 10px;
}

.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images,
.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
    width: 49%;
}

.search-row {
    background: rgba(1, 79, 50, .66);
    border-radius: 50px;
    padding: 10px 20px;
}

.search-row .actions,
.search-row .new-products {
    font-size: 37px;
    color: rgba(255, 255, 255, .84);
    font-family: 'Cucho';
    text-decoration: none;
    margin-left: 40px;
}

.search-row .actions {
    border-bottom: 4px solid #a5ce00;
}

.search-row .new-products {
    border-bottom: 4px solid #ffce00;
}

.woocommerce-product-search label {
    color: #ffce00;
    font-size: 28px;
    font-weight: 600;
}

.woocommerce-product-search input[type="submit"] {
    background: url(images/search_button.png) no-repeat;
    background-size: 100% 100%;
    border: none;
    min-width: 120px;
    min-height: 36px;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    padding-left: 10px;
    padding-top: 7px;
}

.woocommerce div.product form.cart div.quantity {
    display: none;
}

.woocommerce div.product form.cart .button {
    background: url(images/cart_button.png) no-repeat;
    background-color: transparent;
    background-size: 100%;
    min-height: 70px;
    min-width: 100%;
    text-indent: -999999px;
}

.woocommerce .woocommerce-breadcrumb a {
    color: #fff;
    opacity: .84;
}

.woocommerce .woocommerce-breadcrumb {
    color: #e4be08;
    opacity: .84;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a,
.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    background: none!important;
    border: none;
    border-radius: 0;
}

.woocommerce div.product .woocommerce-tabs .panel {
    background: none;
    border-radius: 0;
    border: none;
    box-shadow: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs:before {
    border-bottom: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active:after {
    box-shadow: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after {
    border: none;
    display: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
    text-align: center;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    display: inline-block;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    color: #015b3a;
    font-size: 22px;
    text-transform: uppercase;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
    color: #015b3a;
    text-decoration: underline;
}

.woocommerce p.stars a {
    border-radius: 0;
    border: none;
    background: none;
    padding: 0;
}

.woocommerce table.shop_attributes {
    border: none;
}

.woocommerce table.shop_attributes th,
.woocommerce table.shop_attributes td {
    border: none;
}


/*Table*/

table th,
table td {
    padding: 10px 5px;
    border: 2px solid #d0d0d0;
    font-size: 14px;
}

.woocommerce .cart-collaterals,
.woocommerce-page .cart-collaterals {
    margin-bottom: 30px;
}

.cart-collaterals .col-md-2,
.cart-collaterals .col-md-6 {
    padding: 10px 14px;
    background: #ffce00;
    border-radius: 35px;
    font-size: 16px;
    height: 65px;
}

.cart-collaterals .col-md-2 {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding: 21px 10px;
}

.cart-collaterals .col-md-6 {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: 3px solid #015b3a;
}

.cart-collaterals .col-md-6 strong {
    font-size: 32px;
    color: #015b3a;
}

.woocommerce-cart .wc-proceed-to-checkout {
    padding: 0 15px;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
    background: #a5ce00;
    background-size: 100% 100%;
    min-height: 50px;
    text-indent: 0;
    color: #015b3a;
    font-size: 22px;
    height: 65px;
    font-weight: 400;
    border-radius: 35px;
    padding-top: 20px;
    padding-left: 50px;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:after {
    background: url(images/cart_icon2.png) no-repeat;
    background-size: 100%;
    content: ' ';
    width: 35px;
    height: 35px;
    position: absolute;
    left: 14px;
    top: 15px;
}

.cart-table > .row {
    margin-bottom: 20px;
}

.cart-table .product-thumbnail {
    background: #fff;
    padding: 20px 0;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #b7b7b7;
}

.cart-table .product-info {
    background: #fff;
    border-radius: 20px;
    border: 1px solid #b7b7b7;
}

.cart-table .product-info > .row > div {
    padding: 20px 15px;
}

.cart-table .product-info > .row > div:first-child {
    border-right: 1px solid #b7b7b7;
}

.cart-table .product-info .product-name {
    margin-bottom: 10px;
}

.cart-table .product-info .product-name a {
    font-size: 18px;
    color: #212121;
    text-align: left;
}

.cart-table .product-info .product-subtotal {
    color: #015b3a;
    font-size: 28px;
}

.cart-table .product-info .product-quantity {
    padding-top: 8px;
}

.cart-table .product-info .product-quantity input {
    border-radius: 5px;
}

.woocommerce a.remove {
    color: #015b3a!important;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    width: auto;
    height: auto;
    text-align: left;
    margin-top: 10px;
}

.woocommerce a.remove:hover {
    color: #015b3a!important;
    background: none;
}

.woocommerce input[name="update_cart"] {
    background: #A5CE00;
}
body.woocommerce-checkout .woocommerce,
.woocommerce .checkout {
    background: #fff;
    padding: 15px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 15px;
    border-radius: 10px;
}

.view-all-row {
    text-align: center;
}

.view-all-row > div {
    border-bottom: 1px dashed #888888;
    display: inline-block;
    width: 80%;
    border-left: 1px dashed #888888;
    border-right: 1px dashed #888888;
    height: 50px;
}

.view-all-row a {
    color: #616161;
    font-size: 18px;
    margin-top: 35px;
    position: relative;
    z-index: 10;
    display: inline-block;
    background: #f4f4f4;
    padding-left: 10px;
    padding-right: 10px;
}

.view-all-row a:hover {
    color: #000;
}

.woocommerce .related.products h2 {
    color: #015b3a;
    font-size: 24px;
    text-align: center;
}

.single-product.woocommerce .related.products div.product span.price,
.woocommerce .related.products .price {
    font-size: 24px;
    color: #b82508;
}

.product_remains {
    padding-left: 15px;
    text-align: left;
    margin-top: 10px;
}

@media (min-width: 1200px) {
    .woocommerce-product-search .search-field {
        min-width: 400px;
        border: none;
        border-radius: 20px;
        padding: 10px 20px;
    }
    .woocommerce #content {
        padding-top: 25px;
    }
    .woocommerce div.product {
        min-height: 250px;
    }
    .woocommerce .product a .product-img-wrapper,
    .home .product a .product-img-wrapper {
        min-height: 210px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
    }
    .woocommerce .product a .product-img-wrapper img {
        max-height: 210px;
    }
}


/*End Single product*/